h1,h2,p {
    text-align: center;
}

h1,h2{
    font-family: Impact,'Arial Narrow Bold', sans-serif;
}

h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}
hr{
    height: 2px;
    border-color: brown;
    background-color: brown;
}

img{
   display: block;
   margin-right: auto;
   margin-left: auto;
   margin-top: -25px;
}

.established {
    font-style: italic;
}

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

/* Adesso, l'obiettivo è far sì che div non occupi l'intera larghezza della pagina. La proprietà CSS width è perfetta per questo. */
.menu {
    width:80% ;
    background-color: burlywood; /* Colore sfondo al div*/

    /* con margin left e right auto centriamo il div in orizzontale */
    margin-left:auto ; 
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.flavor, .dessert{
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}

.item p {
    /* Usando il selettore .item p aggiungi una proprietà display con valore inline-block in modo che gli elementi p si comportino come degli elementi in linea */
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.bottom-line {
    margin-top: 25px;
}

/* FOOTER */

footer{
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover{
    color: brown;
}

a:active{
    color: brown;
}
.address {
    margin-bottom: 5px;
}